// Small tablets and smartphones
$screen-sm-min: 320px;
$screen-sm-max: 414px;

// Tablets and smartphones (portrait view)
$screen-md-min: 415px;
$screen-md-max: 767px;

// Tablets
$screen-lg-min: 768px;
$screen-lg-max: 1023px;

// Small desktops
$screen-xl-min: 1024px;
$screen-xl-max: 1200px;

// Xl desktop
$screen-xxl-min: 1201px;
$screen-xxl-max: 1920px;

